<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de carros | Meu histórico</title>

    <link rel="icon" href="../static/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/folhaEstilo.css">
</head>
<body>
    <header>
      <img src="../static/assets/logo.png" alt="logo">
    </header>
    <h1 id="Title">Meu histórico</h1>
    <div id="historico">
      <h2 id="rentCount"></h2>
      <table id="alugueis">
        <tr>
          <th>Carro</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Devolvido</th>
        </tr>
      </table>
    </div>
    <script src="../static/historico.js"></script>
</body>
</html>