<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de carros | Login</title>

    <link rel="icon" href="../static/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/folhaEstilo.css">
</head>
<body>
    <header>
      <img src="../static/assets/logo.png" alt="logo">
    </header>
    <h1 id="Title">Login</h1>
    <div id="contentForm">
      <form id="formLogin" action="/login" method="post">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
          <label for="senha">Senha:</label>
          <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>
        <p id="error">none</p>
        <button type="submit">Login</button>
      </form>
      <div>
        <p id="noSign">Não tem Login? <a href="#">Cadastre-se</a> agora</p>
      </div>
    </div>
    <footer>
      <p>&copy; Leonardo Salgado | Image by <a href="https://www.freepik.com/free-vector/flat-car-collection-with-side-view_1505021.htm#query=car&position=19&from_view=keyword" target="_blank">Freepik</a></p>
    </footer>
    <script src="../static/login.js"></script>
</body>
</html>